<div class="container-fluid">
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3">
        <br>
        <div class="row">
          <div class="col-md-11">
            <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
              <li> <%= link_to("工業用油", products_example_path,
                        class: "btn btn-sm btn-default btn-current") %> </li>
              <li> <%= link_to("車輛用油", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("金屬加工切削加工液", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("潤滑脂", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("防銹劑", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留一", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留二", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留三", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
            </ul>
          </div>
          <div class="col-md-1">
          </div>
        </div>

        <br>

      </div>

      <div class="col-md-9" style="letter-spacing: 1px;">

        <div class="col-md-12">

          <div class="aboutline"></div>
          <h3>
            <strong>NEWS</strong>
          </h3>

          <%= render "pagination" %>

          <div class="row">
            <div class="col-md-12">

              <div class="col-md-3">
                <div class="pull-left">
                  <%= image_tag ("sumi_special_projects-spring-united_oil-jacky_tan-4_adopting_best_practices 150x225.jpg"), size: "150x160" %>
                </div>
              </div>
              <div class="col-md-9 product-content">
                <div class="pull-right">
                  <h4><%= link_to "GManage risks to stay relevant", "#", class: "product-name" %></h4>
                  <p>In the second of a three-part series on capability development, April Chong speaks to an SME and an industry expert from the SME Capabilities Series of events about their views on growing new markets. </p>

                  <p>
                    <%= link_to "View Detail", "#" %>
                  </p>
                </div>
              </div>

            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">

              <div class="col-md-3">
                <div class="pull-left">
                  <%= image_tag ("KR Post Mid.jpg"), size: "150x160" %>
                </div>
              </div>
              <div class="col-md-9 product-content">
                <div class="pull-right">
                  <h4><%= link_to "Korea - United Infinite fully synthetic engine oils gaining popularity", "#", class: "product-name" %></h4>
                  <p>Range of United Products now available in 300 workshops.</p>

                  <p>
                    <%= link_to "View Detail", "#" %>
                  </p>
                </div>
              </div>

            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">

              <div class="col-md-3">
                <div class="pull-left">
                  <%= image_tag ("CNOOC Website Banners.jpg"), size: "150x160" %>
                </div>
              </div>
              <div class="col-md-9 product-content">
                <div class="pull-right">
                  <h4><%= link_to "MAN Diesel & Turbo (MDT) has No Objection to UniMar 570 Cylinder Oil", "#", class: "product-name" %></h4>
                  <p>MAN Diesel & Turbo (MDT) tested basic additive package of cylinder oil, CNOOC Unimar 570, 70 BN, SAE 50. The test found Unimar 570 acceptable. </p>

                  <p>
                    <%= link_to "View Detail", "#" %>
                  </p>
                </div>
              </div>

            </div>
          </div>

        <br>

        <%= render "pagination" %>

        </div>

      </div>
    </div>
  </div>
</div>

<br>
<br>
