<div class="container-fluid">
  <div class="row">
    <div style="display:block;text-align: center">
      <%= image_tag ("gold.jpg"),style:"width:952;height:auto;left:0;" %>
    </div>

    <br>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3">
        <br>
        <div class="row">
          <div class="col-md-11">
            <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
              <li> <%= link_to("GOLD", subproducts_example_path,
                        class: "btn btn-sm btn-default btn-current") %> </li>
              <li> <%= link_to("PLUS", subproducts_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("XTG", subproducts_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("OTHERS", subproducts_example_path,
                        class: "btn btn-sm btn-default") %> </li>
            </ul>
          </div>
          <div class="col-md-1">
          </div>
        </div>

        <br>

      </div>

      <div class="col-md-9" style="letter-spacing: 1px;">

        <div class="col-md-12">

          <div class="aboutline"></div>
          <h3>
            <strong>GOLD RANGE</strong>
          </h3>

          <p>Fully synthetic with advanced additives for maximum performance </p>

          <br>

        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= image_tag ("gold_series.jpg"), size: "150x199" %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4>GOLD SERIES</h4>
                <p>United Gold Fully Synthetic Engine Oil meets highest API SN/SM/CF for gasoline engine. It is blended from a synthesis of special basestock processed by a patented technology. Reinforced with a powerful additive package, United Gold is ideal for modern high output, low emission, super or turbo charged, DOHC or GDI engines that are commonly found in latest European and Japanese models. With a natural High Viscosity Index and low volatility, United Gold offers high performances, uncompromised protection to the engines.</p>
                <p>
                  <%= link_to "View Detail", "#" %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= image_tag ("gold_pro_c4.jpg"), size: "150x199" %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4>GOLD PRO C4</h4>
                <p>United Gold Pro C4 is a top Tier low SAPS passenger car lubricant that is blended with premium fully synthetic base oil incorporating with advanced technology additives to provide excellent low temperature soot dispersancy and outstanding high temperature deposit control. It is designed for use in high performance gasoline and light duty diesel engines meeting ACEA C4-10 and Renault RN0720 that are suitable for Euro IV & V engines where after-treatment such as Diesel Particulate Filters (DPFs) and Three Way Catalysts (TWC) are used.</p>
                <p>
                  <%= link_to "View Detail", "#" %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= image_tag ("gold_vx.jpg"), size: "150x199" %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4>GOLD VX</h4>
                <p>United Gold VX is a premium quality “Mid SAPS” passenger car lubricants that specifically formulated with ultimate active clean technology. It is blended with high quality Polyalphaolefins (PAO) base fluid and the high technology core additive package that meets the requirements of ACEA C3 and MB-Approval 229.51. It is suitable for use in the widest range of modern Passenger Cars and small vehicles include Gasoline vehicles as well.</p>

                <p>United Gold VX provides high temperature protection, exceeding the tough standards against thermal breakdown. It can dramatically reduce the carbon deposit from building up on engine surfaces while protecting sensitive exhaust gas treatment systems.</p>

                <p>
                  <%= link_to "View Detail", "#" %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= image_tag ("gold_lh.jpg"), size: "150x199" %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4>GOLD LH</h4>
                <p>United Gold LH is a fully synthetic passenger car motor oil (PCMO) especially developed for the requirements of Ford WSS-M2C925-B specification. It meets the requirements of ACEA European sequence A1/B1-10 requirements for low friction, low viscosity lubricants for gasoline and light diesel engines.</p>
                <p>
                  <%= link_to "View Detail", "#" %>
                </p>
              </div>
            </div>

          </div>
        </div>

        <br>

      </div>
    </div>
  </div>
</div>

<br>
<br>


