      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('cars.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "工業用油", products_example_path, class: "caption-title" %></h4>
            <p>Locavore drinking vinegar 8-bit chartreuse. Craft beer artisan.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('trucks.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "車輛用油", products_example_path, class: "caption-title" %></h4>
            <p>Narwhal chillwave VHS venmo normcore, chartreuse forage vegan hoodie.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('motorcycles.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "金屬加工切削加工液", products_example_path, class: "caption-title" %></h4>
            <p>3 wolf moon whatever street art, banjo cronut poutine asymmetrical.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('trucks-2.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "潤滑脂", products_example_path, class: "caption-title" %></h4>
            <p>Butcher +1 etsy mumblecore, authentic marfa four dollar toast man.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('MFW Home.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "防銹劑", products_example_path, class: "caption-title" %></h4>
            <p>Narwhal aesthetic stumptown, pork belly +1 green juice knausgaard meh.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('united-oil.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "預留一", products_example_path, class: "caption-title" %></h4>
            <p>Hammock biodiesel seitan, tacos taxidermy vice offal sartorial keffiyeh.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('cars.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "預留二", products_example_path, class: "caption-title" %></h4>
            <p>Master cleanse asymmetrical intelligentsia cronut tote bag bushwick.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag('motorcycles.jpg'), products_example_path %>
          <div class="caption caption_box">
            <h4><%= link_to "預留三", products_example_path, class: "caption-title" %></h4>
            <p>Narwhal aesthetic stumptown, pork green juice knausgaard meh pickled.</p>
            <%= link_to "", root_url, class: "flaticon-shape icon" %>
          </div>
        </div>
      </div>
