<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <!-- <div class="jumbotron">
      <div class="container">
        <h2>Distillery everyday carry waistcoat, salvia ramps authentic mumblecore. </h2>
        <br>
        <p>Microdosing echo park intelligentsia bicycle rights, mustache flannel next level. Gluten-free fanny pack wolf, heirloom drinking vinegar sartorial jean shorts.</p>
      </div>
    </div> -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("pic1.jpg") %>
          <!-- <img src="jumbotron.jpg" alt="Man1"> -->
          <div class="carousel-caption">
            <h3 class="text-left">Narwhal</h3>
            <p class="text-left">8-bit migas single-origin coffee venmo truffaut chillwave. Normcore actually tacos health goth, yuccie selfies ennui kitsch etsy pork belly street art celiac schlitz.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("pic2.jpg") %>
          <div class="carousel-caption">
            <h3 class="text-left">Waistcoat</h3>
            <p class="text-left">Actually polaroid kitsch meh, dreamcatcher farm-to-table iPhone squid cred everyday carry roof party lo-fi swag shoreditch tote bag. Typewriter gluten-free migas listicle.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("pic3.jpg") %>
          <div class="carousel-caption">
            <h3 class="text-left">Crucifix</h3>
            <p class="text-left">Photo booth gentrify bicycle rights chambray, artisan ennui butcher keffiyeh squid everyday carry. Hella flexitarian blog fap. Quinoa kickstarter squid stumptown.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("pic4.jpg") %>
          <div class="carousel-caption">
            <h3 class="text-left">Kombucha</h3>
            <p class="text-left">Actually shabby chic tilde, normcore poutine literally helvetica disrupt next level quinoa cardigan. Distillery narwhal pop-up kitsch shabby chic, shoreditch mlkshk etsy four loko.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("pic5.jpg") %>
          <div class="carousel-caption">
            <h3 class="text-left">Flexitarian</h3>
            <p class="text-left">Microdosing etsy kitsch freegan. Truffaut 8-bit umami, four dollar toast listicle portland butcher flannel keffiyeh heirloom next level.</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("earth.jpg") %>
          <div class="carousel-caption">
            <h3 class="text-left">Selvage</h3>
            <p class="text-left">Literally bitters selvage direct trade umami cronut, fingerstache mixtape thundercats seitan poutine next level fap kitsch. Echo park viral trust fund, bicycle rights meh locavore literally lumbersexual synth hashtag squid.</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <hr>

    <div class="page-header">
      <h4>WE ARE SPECIALISTS WITH THE WIDEST RANGE OF PRODUCTS</h4>
      <p>United Oil is a leading lubricant supplier in the region known for reliability in delivering products that is value for money.  Strategically located in Singapore, we are dynamic, innovative and focused on customer requirements.  Come and experience how our lubricants give you improved performance and prolonged life by cleaning and protecting your equipment.</p>
    </div>

    <br>

    <br>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("cars.jpg") %>
        <div class="caption">
          <h4>工業用油</h4>
          <p>Locavore drinking vinegar 8-bit chartreuse. Craft beer artisan sriracha, pop-up fingerstache fap semiotics chartreuse umami.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("trucks.jpg") %>
        <div class="caption">
          <h4>車輛用油</h4>
          <p>Narwhal chillwave VHS venmo normcore, chartreuse forage vegan hoodie master cleanse craft beer asymmetrical etsy brooklyn.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("motorcycles.jpg") %>
        <div class="caption">
          <h4>金屬加工切削加工液</h4>
          <p>3 wolf moon whatever street art, banjo cronut poutine asymmetrical etsy offal franzen stumptown beard truffaut.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("trucks-2.jpg") %>
        <div class="caption">
          <h4>潤滑脂</h4>
          <p>Butcher +1 etsy mumblecore, authentic marfa four dollar toast man braid. Photo booth ennui hammock asymmetrical etsy normcore.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("MFW Home.jpg") %>
        <div class="caption">
          <h4>防銹劑</h4>
          <p>Narwhal aesthetic stumptown, pork belly +1 green juice knausgaard meh pickled gastropub cornhole humblebrag cardigan freegan.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("united-oil.jpg") %>
        <div class="caption">
          <h4>預留一</h4>
          <p>Hammock biodiesel seitan, tacos taxidermy vice offal sartorial keffiyeh roof party try-hard bespoke fanny pack asymmetrical etsy.</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag("cars.jpg") %>
        <div class="caption">
          <h4>預留二</h4>
          <p>Master cleanse asymmetrical intelligentsia cronut tote bag bushwick, franzen thundercats ethical asymmetrical etsy.</p>
        </div>
      </div>
    </div>

    <br>

  </div>
</div>

<br />
<br />

