
<%= render "carousel" %>

<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">
        <h4>WE ARE SPECIALISTS WITH THE WIDEST RANGE OF PRODUCTS</h4>
        <p>United Oil is a leading lubricant supplier in the region known for reliability in delivering products that is value for money.  Strategically located in Singapore, we are dynamic, innovative and focused on customer requirements.  Come and experience how our lubricants give you improved performance and prolonged life by cleaning and protecting your equipment.</p>
      </div>

      <br>

      <br>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("cars.jpg") %>
          <div class="caption">
            <h4>工業用油</h4>
            <p>Locavore drinking vinegar 8-bit chartreuse. Craft beer artisan sriracha, pop-up fingerstache fap semiotics chartreuse umami.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("trucks.jpg") %>
          <div class="caption">
            <h4>車輛用油</h4>
            <p>Narwhal chillwave VHS venmo normcore, chartreuse forage vegan hoodie master cleanse craft beer asymmetrical etsy brooklyn.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("motorcycles.jpg") %>
          <div class="caption">
            <h4>金屬加工切削加工液</h4>
            <p>3 wolf moon whatever street art, banjo cronut poutine asymmetrical etsy offal franzen stumptown beard truffaut.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("trucks-2.jpg") %>
          <div class="caption">
            <h4>潤滑脂</h4>
            <p>Butcher +1 etsy mumblecore, authentic marfa four dollar toast man braid. Photo booth ennui hammock asymmetrical etsy normcore.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("MFW Home.jpg") %>
          <div class="caption">
            <h4>防銹劑</h4>
            <p>Narwhal aesthetic stumptown, pork belly +1 green juice knausgaard meh pickled gastropub cornhole humblebrag cardigan freegan.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("united-oil.jpg") %>
          <div class="caption">
            <h4>預留一</h4>
            <p>Hammock biodiesel seitan, tacos taxidermy vice offal sartorial keffiyeh roof party try-hard bespoke fanny pack asymmetrical etsy.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= image_tag("cars.jpg") %>
          <div class="caption">
            <h4>預留二</h4>
            <p>Master cleanse asymmetrical intelligentsia cronut tote bag bushwick, franzen thundercats ethical asymmetrical etsy.</p>
          </div>
        </div>
      </div>

      <br>

      <br />

    </div>
  </div>
</div>

<hr>


