<div class="container-fluid">
  <div class="row">
    <div style="display:block;text-align: center">
      <%= image_tag ("premium_oil.jpg"), style:"width:952;height:auto;left:0;" %>
    </div>

    <br>

  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-3">
        <br>
        <div class="row">
          <div class="col-md-11">
            <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
              <li> <%= link_to("工業用油", products_example_path,
                        class: "btn btn-sm btn-default btn-current") %> </li>
              <li> <%= link_to("車輛用油", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("金屬加工切削加工液", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("潤滑脂", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("防銹劑", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留一", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留二", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
              <li> <%= link_to("預留三", products_example_path,
                        class: "btn btn-sm btn-default") %> </li>
            </ul>
          </div>
          <div class="col-md-1">
          </div>
        </div>

        <br>

      </div>

      <div class="col-md-9" style="letter-spacing: 1px;">

        <div class="col-md-12">

          <div class="aboutline"></div>
          <h3>
            <strong>工業用油</strong>
          </h3>

          <p>To meet the demands for racing and extreme applications, we formulate this range with the most advanced components & latest technology. The range uses synthetic base oils which has naturally high viscosity index & superior thermo-stability and meet highest API (American Petroleum Institute) specifications API SN. Performance has been proven with success at race events in Australia, Macau, Malaysia and China. </p>

          <br>

        </div>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= link_to (image_tag ("GX_racing.jpg"), size: "150x199"), subproducts_example_path %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4><%= link_to "GX RACING", subproducts_example_path, class: "product-name" %></h4>
                <p>Fully Synthetic SAE 5W40 meets API SN with PAO – Formulated with PAO (Poly Alpha Olefins) with the latest development in lubricating oil technology to maximize the protection for the new engines. Exceeds most demanding requirements of modern engine’s emission control, oil consumption & fuel savings. Uses effective friction reduction and load improvement agents. Especially suited for a sport driving styles and turbo charged engines running at higher temperatures.</p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= link_to (image_tag ("f1_experience.jpg"), size: "150x199"), subproducts_example_path %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4><%= link_to "F1 EXPERIENCE", subproducts_example_path, class: "product-name" %></h4>
                <p>United F1 Experience SAE 5W30 API SN is a top tier low SAPS 100% Fully Synthetic Motor Oil delivers the latest development in lubricating oil technology to maximize the protection for the newest gasoline engine meeting ACEA C3-10 Standard.</p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= link_to (image_tag ("GD1.jpg"), size: "150x199"), subproducts_example_path %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4><%= link_to "GD1 5W40", subproducts_example_path, class: "product-name" %></h4>
                <p>United GD1 SAE 5W40 API SN/SM/CF Fully Synthetic Engine Oil is ideal for modern high output, low emission, super or turbo charged, DOHC or GDI engines with anti-oxidation property that are commonly found in latest European and Japanese models.</p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= link_to (image_tag ("GD2.jpg"), size: "150x199"), subproducts_example_path %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4><%= link_to "GD2 5W50", subproducts_example_path, class: "product-name" %></h4>
                <p>United GD2 SAE 5W50 API SN/SM/CF Fully Synthetic Engine Oil is blended from a synthesis of special basestock processed by a patented technology. Reinforced with a powerful additive package, United GD2 is ideal for modern high output, low emission, super or turbo charged, DOHC or GDI engines that are commonly found in latest European and Japanese models.</p>
              </div>
            </div>

          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-12">

            <div class="col-md-3">
              <div class="pull-left">
                <%= link_to (image_tag ("M2.jpg"), size: "150x199"), subproducts_example_path %>
              </div>
            </div>
            <div class="col-md-9 product-content">
              <div class="pull-right">
                <h4><%= link_to "M2 UNIQUE SERIES", subproducts_example_path, class: "product-name" %></h4>
                <p>United M2 Unique API SN/SM Synthetic Engine Oil is a premium fuel-efficient engine oil, specially designed for use in gasoline and diesel car engines, and in particular for Volkswagen TDI direct injection engine fitted with pump injector.</p>
              </div>
            </div>

          </div>
        </div>

        <br>

      </div>
    </div>
  </div>
</div>

<br>
<br>
