<div class="col-md-3">
  <br>
  <div class="row">
    <div class="col-md-11">
      <ul class="nav nav-pills nav-stacked nav-btn" style="max-width: 300px;">
        <li> <%= link_to("工業用油", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("車輛用油", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("金屬加工切削加工液", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("潤滑脂", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("防銹劑", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("預留一", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("預留二", root_path,
                  class: "btn btn-sm btn-default") %> </li>
        <li> <%= link_to("預留三", root_path,
                  class: "btn btn-sm btn-default") %> </li>
      </ul>
    </div>
    <div class="col-md-1">
    </div>
  </div>

  <br>

</div>
