<div class="row">

  <nav class="navbar navbar-default navbar-custom">
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong></strong></a>
    </div> -->
    <ul class="nav navbar-nav pull-right navbar-social">
      <li>
        <a href="https://google.com/" target="_blank">
          <p style="font-family: Helvetica Neue;font-size: 5px;"><i class="fa fa-google-plus"> Google+</i></p>
        </a>
     </li>
     <li>
        <a href="https://twitter.com/" target="_blank">
          <p style="font-family: Helvetica Neue;font-size: 5px;"><i class="fa fa-twitter"> Twitter</i></p>
        </a>
     </li>
     <li>
        <a href="https://www.facebook.com/" target="_blank">
          <p style="font-family: Helvetica Neue;font-size: 5px;"><i class="fa fa-facebook"> Facebook</i></p>
        </a>
     </li>
<!--      <li>
        <a href="http://www.youtube.com/" target="_blank">
          <i class="fa fa-youtube"> Youtube</i>
        </a>
     </li> -->
     <!-- <li>
        <a href="https://twitter.com/" target="_blank">
          <i class="fa fa-envelope-o"> Email</i>
        </a>
     </li> -->
    </ul>
  </nav>
  <nav class="navbar navbar-default navbar-custom2">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><strong></strong></a>
      <%= link_to image_tag('1321-01.png', size: "270x81"), root_path %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav pull-right navbar-text">
        <li><div class="underscore"><%= link_to "HOME", root_path %></div></li>
        <li><div class="underscore"><%= link_to "COMPANY", pages_about_path %></div></li>
        <li class="dropdown">
          <div class="dropdown-underscore">
            <a onclick="myFunction()" class="dropbtn">PRODUCT<span class="caret"></span></a>
            <div class="dropdown-content" id="myDropdown">
              <%= link_to "工業用油", products_example_path %>
              <%= link_to "車輛用油", products_example_path %>
              <%= link_to "金屬加工切削加工液", products_example_path %>
              <%= link_to "潤滑脂", products_example_path %>
              <%= link_to "防銹劑", products_example_path %>
              <%= link_to "預留一", products_example_path %>
              <%= link_to "預留二", products_example_path %>
              <%= link_to "預留三", products_example_path %>
            </div>
          </div>
        </li>
        <li><div class="underscore"><%= link_to "NEWS", news_example_path %></div></li>
        <li><div class="underscore"><%= link_to "CONTACT US", pages_contact_path %></div></li>
      </ul>
    </div>
  </nav>
</div>


<script>

//   $('.dropdown-toggle').dropdown()

/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {

    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>

